.special{
    border: 4px solid teal;
    font-style: italic;
    display:flex ;
    
}
.page{
    background-color: blanchedalmond;
    border: 10px solid burlywood;
}
.img2 div{
    text-align: center;
    border: teal;
}
ul{
    font-style: italic;
    font-size: 20px;
}
ol{
    font-style: italic;
    font-size: 20px;
}
p{
    font-size: medium;
    font-style: italic;
}
.links div{
    border: 4px solid burlywood;
    justify-content: space-around;
    flex-direction: row;
}
.links{
    display: flex;
    justify-content: space-between;
}